@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: 'Valorant';
  src: url('./assets/fonts/valorantFont.ttf') format('truetype'),
  url('./assets/fonts/valorantFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}